<?xml version="1.0" encoding="utf-8"?>
<compression>
  <excludedMimeTypes>
    <mimeType>image/gif</mimeType>
    <mimeType>image/jpeg</mimeType>
    <mimeType>image/jpg</mimeType>
    <mimeType>image/png</mimeType>
    <mimeType>image/bmp</mimeType>
    <mimeType>application/zip</mimeType>
    <mimeType>application/x-zip-compressed</mimeType>
    <mimeType>application/x-gzip-compressed</mimeType>
    <mimeType>application/x-compressed</mimeType>
    <mimeType>application/octet-stream</mimeType>
    <mimeType>application/pdf</mimeType>
  </excludedMimeTypes>
  <excludedPaths>
    <path>install/install.aspx</path>
    <path>linkclick.aspx</path>
    <path>fckcss.aspx</path>
    <path>fckhtmleditoroptions.aspx</path>
    <path>fckimagegallery.aspx</path>
    <path>fcklinkgallery.aspx</path>
    <path>fckstyles.aspx</path>
  </excludedPaths>
  <whitespace><![CDATA[(?<=[^])\t{2,}|(?<=[>])\s{2,}(?=[<])|(?<=[>])\s{2,11}(?=[<])|(?=[\n])\s{2,}]]></whitespace>
</compression>