<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Rules>
    <RewriterRule>
      <LookFor>.*DesktopDefault.aspx(.*)</LookFor>
      <SendTo>~/Default.aspx$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>.*EditModule.aspx(.*)</LookFor>
      <SendTo>~/Default.aspx$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>.*/TabId/(\d+)(.*)/Logoff.aspx</LookFor>
      <SendTo>~/Admin/Security/Logoff.aspx?tabid=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>.*/TabId/(\d+)(.*)/rss.aspx</LookFor>
      <SendTo>~/rss.aspx?TabId=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>.*/TabId/(\d+)(.*)/NewsRSS.aspx</LookFor>
      <SendTo>~/NewsRSS.aspx?TabId=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>[^?]*/TabId/(\d+)(.*)</LookFor>
      <SendTo>~/Default.aspx?TabId=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>.*/TabId/(\d+)/DID/(\d+)/TID/(.*)/ImageGallery.aspx</LookFor>
      <SendTo>~/DesktopModules/MLNews/ImageGaleryPage.aspx?DID=$1</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>