/* 
================================
Skin styles for DotNetNuke
================================
*/   
.pagemaster {
	width: 100%;
	height: 100%;	
	background-color: #fefefe;
}
.skinmaster {
	height: 100%;
	background-color: #f3f5fa;
	border-right: #7994cb 1px solid; 
	border-top: #7994cb 1px solid; 
	border-left: #7994cb 1px solid; 
	border-bottom: #7994cb 1px solid; 
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px; 
}
.skinheader {
}
.skingradient {
	background-image: url(gradient_DkBlue.jpg);
	height:30px;
}
.controlpanel {
	width: 100%;
	background-color: #dfe5f2;
}
.toppane {
	width: 100%;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
}
.leftpane {
	width: 40%;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
}
.contentpane {
	width: 70%;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
}
.rightpane {
	width: 20%;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
}
.bottompane {
	width: 100%;
	background-color: transparent;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
}
.MainMenu_MenuContainer {
	background-color: transparent;
}
.MainMenu_MenuBar {
	cursor: pointer; 
	cursor: hand;
	height:16px;
	background-color: Transparent;
}
.MainMenu_MenuItem {
	border-left: #cad5ea 0px solid; 
	border-bottom: #cad5ea 1px solid; 
	border-top: #cad5ea 1px solid; 
	border-right: #cad5ea 0px solid;
	cursor: pointer; 
	cursor: hand; 
	color: #000000; 
	font-size: 9pt; 
	font-weight: bold; 
	font-style: normal; 
	background-color: Transparent;
	font-family: Tahoma, Arial, Helvetica; 
}
.MainMenu_MenuIcon {
	background-color: #cad5ea; 
	border-left: #cad5ea 1px solid; 
	border-bottom: #cad5ea 1px solid; 
	border-top: #cad5ea 1px solid; 
	cursor: pointer; 
	cursor: hand; 
	text-align: center; 
	width: 15px; 
	height: 21px;
}
.MainMenu_SubMenu {
	background-color: #cad5ea;  
	z-index: 1000; 
	cursor: pointer; 
	cursor: hand; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#696969', Direction=135, Strength=3); 
}
.MainMenu_MenuBreak {
	height: 1px;
}
.MainMenu_MenuItemSel {
	background-color: #8da4d3; 
	cursor: pointer; 
	cursor: hand; 
	color: black; 
	font-family: Tahoma, Arial, Helvetica; 
	font-size: 9pt; 
	font-weight: bold; 
	font-style: normal;
	height: 21px;
}
.MainMenu_MenuArrow {
	border-right: #cad5ea 1px solid; 
	border-bottom: #cad5ea 1px solid; 
	border-top: #cad5ea 0px solid;
	font-family: webdings; 
	font-size: 10pt; 
	cursor: pointer; 
	cursor: hand; 
}
.MainMenu_RootMenuArrow {
	font-family: webdings; 
	font-size: 10pt; 
	cursor: pointer; 
	cursor: hand;
}
.StandardButton {
  background: #7994cb none; 
  color: #ffffff;
  font-family: verdana, sans-serif; 
  font-size: 11px;
  font-weight: normal;
}
.TreeViewMenu {
	width: 175px;
	background-color: #dfe5f2;
	border-right: #7994cb 1px solid; 
	border-top: #7994cb 1px solid; 
	border-left: #7994cb 1px solid; 
	border-bottom: #7994cb 1px solid; 
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px;
}
.TreeViewMenu_Header {
	background-image: url(gradient_LtBlue.jpg);
}
.Head {
   font-family: Tahoma, Arial, Helvetica;
   font-size:  18px;
   font-weight: normal;
   color: #333333;
}

.menu
{
	float: right;
}

.menuStaticWhole
{
	border-right: solid 1px #7cc7fe;
	border-top: solid 1px #7cc7fe;
	border-bottom: solid 1px #7cc7fe;
}

.menuStatic
{
	font-weight:bold;
	background-color:#369aff;
	color:#ffffff;
	font-size: small;
	text-align:left;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: solid 1px #7cc7fe;
}
:hover.menuStatic
{
	color:#fde800;
}

.menuDynamicWhole
{
	border-right: solid 1px #7cc7fe;
	border-left: solid 1px #7cc7fe;
	border-bottom: solid 1px #7cc7fe;
}
.menuDynamic
{
	text-align:left;
	background-color:#e4eefb;
	color:#006fff;
	font-size: small;
	text-align:left;
	
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 5px;
	padding-right: 5px;
	
	border-top: solid 1px #7cc7fe;
}

:hover.menuDynamic
{
	color:#4f4f50;
}

.textbutton
{
	border: 0px 0px 0px 0px;
	background: transparent;
	text-decoration: underline;
}

.textbutton:hover
{
	color:Blue;
}

/*Tab------------------------------------------------------------------------------------------------------------*/
/* ajax__tab_xp-theme theme */
    .ajax__tab_xp-theme .ajax__tab_header 
    {
        font-family:verdana,tahoma,helvetica;
        font-size:11px;
        background:url(img/xp/tab-line.gif) repeat-x bottom;
    }
    .ajax__tab_xp-theme .ajax__tab_header .ajax__tab_outer 
    {
        padding-right:4px;
        background:url(img/xp/tab-right.gif) no-repeat right;
        height:21px;
    }
    .ajax__tab_xp-theme .ajax__tab_header .ajax__tab_inner 
    {
        padding-left:3px;
        background:url(img/xp/tab-left.gif) no-repeat;
    }
    .ajax__tab_xp-theme .ajax__tab_header .ajax__tab_tab
    {
        height:13px;
        padding:4px;
        margin:0;
        background:url(img/xp/tab.gif) repeat-x;
    }
    .ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_outer 
    {
        background:url(img/xp/tab-hover-right.gif) no-repeat right;
    }
    .ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_inner 
    {
        background:url(img/xp/tab-hover-left.gif) no-repeat;
    }
    .ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_tab 
    {
        background:url(img/xp/tab-hover.gif) repeat-x;
    }
    .ajax__tab_xp-theme .ajax__tab_active .ajax__tab_outer 
    {
        background:url(img/xp/tab-active-right.gif) no-repeat right;
    }
    .ajax__tab_xp-theme .ajax__tab_active .ajax__tab_inner 
    {
        background:url(img/xp/tab-active-left.gif) no-repeat;
    }
    .ajax__tab_xp-theme .ajax__tab_active .ajax__tab_tab 
    {
        background:url(img/xp/tab-active.gif) repeat-x;
    }
    .ajax__tab_xp-theme .ajax__tab_body 
    {
        font-family:verdana,tahoma,helvetica;
        font-size:10pt;
        border:1px solid #999999;
        border-top:0;
        padding:8px;
        background-color:#ffffff;
    }

    /* ajax__tab_yuitabview-theme theme (img/yui/sprite.png) */
    .ajax__tab_yuitabview-theme .ajax__tab_header 
    {
        font-family:arial,helvetica,clean,sans-serif;
        font-size:small;
        border-bottom:solid 5px #2647a0;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
    {
        background:url(img/yui/sprite.png) #d8d8d8 repeat-x;
        margin:0px 0.16em 0px 0px;
        padding:1px 0px 1px 0px;
        vertical-align:bottom;
        border:solid 1px #a3a3a3;
        border-bottom-width:0px;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
    {    
        color:#000;
        padding:0.35em 0.75em;    
        margin-right:0.01em;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
    {
        background: url(img/yui/sprite.png) #bfdaff repeat-x left -1300px;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
    {
        color:#fff;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
    {
        background:url(img/yui/sprite.png) #2647a0 repeat-x left -1400px;
    }
    .ajax__tab_yuitabview-theme .ajax__tab_body 
    {
        font-family:verdana,tahoma,helvetica;
        font-size:10pt;
        padding:0.25em 0.5em;
        background-color:#edf5ff;    
        border:solid 1px #808080;
        border-top-width:0px;
    }

    /* ajax__tab_technorati-theme theme */
    .ajax__tab_technorati-theme .ajax__tab_header 
    {
        font-family:"Helvetica Neue", Arial, Sans-Serif;
        background:url(img/technorati/tab-line.png) repeat-x bottom;
        font-size:12px;
        display:block;
    }
    .ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_outer 
    {
        background:url(img/technorati/tab.png) no-repeat left top;
        border-color:#222;
        color:#222;
        padding-left:10px;
        margin-right:3px;
    }
    .ajax__tab_technorati-theme .ajax__tab_header .ajax__tab_inner 
    {
        background:url(img/technorati/tab.png) no-repeat right top;
        border-color:#666;
        color:#666;
        padding:3px 10px 2px 0px;
    }
    .ajax__tab_technorati-theme .ajax__tab_hover .ajax__tab_inner 
    {
        color:#000000;
    }
    .ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_outer 
    {
        background:url(img/technorati/tab.png) no-repeat 0pt -40px;
        border-bottom-color:#ffffff;
    }
    .ajax__tab_technorati-theme .ajax__tab_active .ajax__tab_inner 
    {
        background:url(img/technorati/tab.png) no-repeat right -40px;
        color:#000000;
        border-color:#333
    }
    .ajax__tab_technorati-theme .ajax__tab_body 
    {
        font-family:verdana,tahoma,helvetica;
        font-size:10pt;
        padding:8px;
        background-color:#ffffff;
        border:solid 1px #d7d7d7;
        border-top-width:0;
    }

    /* ajax__tab_msngallery-theme theme */
    .ajax__tab_msngallery-theme .ajax__tab_header 
    {
        background:url(img/msngallery/tab-line.png) repeat-x bottom;
        font-size:12px;
        display:block;
    }
    .ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_outer 
    {
        border:solid 1px #D7DCE1;
        padding:1px 1px 0px 1px;
        border-bottom:solid 2px #A8D4D9;
        background-color:#edf2fb;
    }
    .ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab 
    {
        padding:6px 10px 6px 10px;
        color:#444444;
        width:117px;
        display:block;
        text-align:center;    
    }
    .ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab img
    {
        height:24px;
        width:24px;
    }
    .ajax__tab_msngallery-theme .ajax__tab_header .ajax__tab_tab div
    {
        font-family:Verdana, Arial, Sans-Serif;
        font-weight:bold;
        white-space:nowrap;
        line-height:145%;
        font-size:92%;
    }
    .ajax__tab_msngallery-theme .ajax__tab_active .ajax__tab_outer 
    {
        padding:0px 0px 0px 0px;
        border:solid 2px #A8D4D9;
        border-bottom-color:#ffffff;
        background-color:#ffffff;
    }
    .ajax__tab_msngallery-theme .ajax__tab_body 
    {
        font-family:verdana,tahoma,helvetica;
        font-size:10pt;
        padding:8px;
        background-color:#ffffff;
        border:solid 2px #A8D4D9;
        border-top-width:0;
    }

    /* ajax__tab_ie-theme theme */
    .ajax__tab_ie-theme .ajax__tab_header 
    {
        padding-left:5px;
    }
    .ajax__tab_ie-theme .ajax__tab_header .ajax__tab_tab
    {
        margin-right:0px;
        background:url(img/ie/tab_unselected.gif);
        width:116px;
        padding:9px 0px 3px 0px;
        text-align:center;    
        color:#006699;
        font-family:verdana;
        font-size:13px;
        display:block;
    }
    .ajax__tab_ie-theme .ajax__tab_active .ajax__tab_tab 
    {
        padding:6px 0px 3px 0px;
        background:url(img/ie/tab_selected.gif);
    }
    .ajax__tab_ie-theme .ajax__tab_body 
    {
        background:url(img/ie/ie_tabbacker_720x296.jpg) no-repeat;
        font-size:13px;
        font-family:verdana;
        height:296px;
        width:716px;
    }
    .ajax__tab_ie-theme .ajax__tab_body div
    {
         padding:8px;
    }


/*================VERTICAL MENU=================*/
.mC
{
	background:transparent;
	padding: 0px 2px 5px 2px;
	color:#FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	vertical-align: middle;
}

.mL
{
	display:none;
}

.mH0_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 5px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH0_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 5px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH0_c_disable a
{
	color: Gray;
}
.mH0_c_disable a:visited
{
	color: Gray;
}

.mH1_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 35px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH1_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 35px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH1_c_disable a
{
	color: Gray;
}
.mH1_c_disable a:visited
{
	color: Gray;
}

.mH2_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 65px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH2_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 65px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH2_c_disable a
{
	color: Gray;
}
.mH2_c_disable a:visited
{
	color: Gray;
}

.mH3_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 95px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH3_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 95px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH3_c_disable a
{
	color: Gray;
}
.mH3_c_disable a:visited
{
	color: Gray;
}

.mH4_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 125px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH4_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 125px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH4_c_disable a
{
	color: Gray;
}
.mH4_c_disable a:visited
{
	color: Gray;
}

.mH5_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 155px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH5_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 155px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH5_c_disable a
{
	color: Gray;
}
.mH5_c_disable a:visited
{
	color: Gray;
}

.mH6_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 185px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH6_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 185px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH6_c_disable a
{
	color: Gray;
}
.mH6_c_disable a:visited
{
	color: Gray;
}

.mH7_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 215px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH7_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 215px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH7_c_disable a
{
	color: Gray;
}
.mH7_c_disable a:visited
{
	color: Gray;
}

.mH8_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 245px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH8_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 245px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH8_c_disable a
{
	color: Gray;
}
.mH8_c_disable a:visited
{
	color: Gray;
}

.mH9_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 275px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH9_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 275px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH9_c_disable a
{
	color: Gray;
}
.mH9_c_disable a:visited
{
	color: Gray;
}

.mH10_c
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 305px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH10_c_disable
{
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 305px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
}
.mH10_c_disable a
{
	color: Gray;
}
.mH10_c_disable a:visited
{
	color: Gray;
}

a.mO0
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 17px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO0_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 17px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO0_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 17px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO0_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 17px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO1
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 47px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO1_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 47px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO1_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 47px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO1_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 47px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO2
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 77px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO2_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 77px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO2_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 77px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO2_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 77px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO3
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 107px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO3_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 107px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO3_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 107px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO3_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 107px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO4
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 137px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO4_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 137px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO4_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 137px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO4_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 137px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO5
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 167px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO5_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 167px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO5_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 167px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO5_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 167px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO6
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 197px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO6_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 197px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO6_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 197px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO6_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 197px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO7
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 227px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO7_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 227px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO7_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 227px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO7_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 227px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO8
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 257px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO8_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 257px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO8_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 257px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO8_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 257px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO9
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 287px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO9_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 287px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO9_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 287px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO9_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 287px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}

a.mO10
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 317px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFF00;
}

a.mO10_disable
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 317px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO10_disable:visited
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 317px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: Gray;
}

a.mO10_select
{
	display:block;
	font-weight: bold;
	cursor: pointer;
	background-color: #4EB40A;
	padding-top: 8px;
	padding-left: 317px;
	padding-bottom: 8px;
	margin: 2px 2px 2px 2px;
	color: #FFFFFF;
}
/*================VERTICAL MENU=================*/
body td
{
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica; 
}
.BoldCell
{
	font-weight: bold;	
}

td .LinkButton
{
	background-color:Transparent;
	border: none 1px #FFFFFF;
	cursor: pointer;
	font-weight:bold;
	text-decoration: underline;
}

.cssPager span { color:#ff0000;}